* {
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;

  display: flex;
  flex-direction: column;
  background-color: #008000;
  border: 1px solid brown;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar {
  background: transparent;
  backdrop-filter: blur(8px);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  z-index: 999;
}

.nav-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}
.nav-links {
  color: #fff;
  display: flex;

  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}
.nav-item {
  height: 80px;
  display: flex;
}
h1 {
  color: black;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.Home-btn {
  color: black;
  width: 200px;
  height: 60px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.4rem;
}
.Home-btn:hover {
  background-color: transparent;
  color: white;
  width: 200px;
  height: 60px;
  border: 2px solid black;
}
li {
  list-style-type: none;
}
.dropdown-menu {
  position: absolute;
  top: 65%;
  left: 25%;
  padding: 10px 20px;
  width: 200px;
  background-color: transparent;
}
.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 10px;
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}
.dropdown-menu ul li {
  padding: 5px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown-menu ul li:hover {
  color: white;
  border: 0.5px solid white;
  cursor: pointer;
  border-radius: 10px;
}
.dropdown-menu ul li:hover,
.dropdownIcon {
  opacity: 1;
}
.dropdownIcon {
  color: black;
  width: 30px;
  height: 40px;
}
.dropdownItem {
  margin: 0;
  display: flex;
}
.dropdownItem ul li {
  cursor: pointer;
}
.dropdownItemNavBar {
  display: flex;
  flex-direction: row;
}

.dropdown-menu .dropdownIcon {
  max-width: 400px;
  font-size: 1rem;
  margin-right: 10px;
  opacity: 0.5;
  transition: var(--speed);
}
.dropdownItem a {
  max-width: 100px;
  margin-left: 10px;
  transition: var(--speed);
}
.dropdown-menu.active {
  visibility: hidden;
  transform: translateY(0);
  transition: var(--speed) ease;
}
.dropdown-menu.inactive {
  visibility: visible;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}
.D1 {
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
}
.D2 {
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
}
.D3 {
  font-size: 1rem;
  background-color: transparent;
  border: none;
}
.D31 {
  font-size: 20px;
  background-color: transparent;
  border: none;
}

.D1:hover {
  color: green;
  cursor: pointer;
}
.D2:hover {
  color: red;
  cursor: pointer;
}
.D3:hover {
  color: white;
  cursor: pointer;
}
.card {
  width: 100%;
  top: 8%;
  background-color: green;

  aspect-ratio: 1/0.7;
  border-radius: 8px;
  position: sticky;
  cursor: pointer;
}
.card::after {
  position: absolute;
  inset: 0;
  border: 2px solid white;

  opacity: 0;
  /* transition: 0.9s ease-in-out; */
  transition: 1s all ease-in-out;
}
.card:hover .card-overlay {
  /* filter: grayscale(1) brightness(0.4); */
  transition: 1s all ease-in-out;
}
.card:hover::after {
  opacity: 1;
  inset: 20px;
}
/* .cards-item {
  height: 100%;
} */
.card-content {
  width: 88%;
  position: absolute;
  top: 10%;

  left: 8%;

  text-align: center;
}
.card-texting {
  font-size: 3rem;
  margin-top: 30px;
}

.card-texting-p {
  padding: 10px 30px;
  background-color: transparent;
  border: 1px dashed black;
  margin-bottom: 30px;
}
.card-texting-p:hover {
  padding: 10px 30px;
  background: transparent;
  backdrop-filter: blur(8px);
  color: white;
}
.AboutMe-card-texting {
  font-size: 3rem;
}

.AboutMe-card-texting-p {
  padding: 10px 30px;
  background-color: transparent;
}

.card .overlay-box .card-overlay {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
  object-position: 50% 90%;
}
.card .overlay-box {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.cards-item {
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  position: relative;
  margin: 0 1rem;

  border-radius: 10px;
}
.cards-item-link:hover .cards-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.3;
}
.cards-item-link:hover .card-item-text,
.cards-item-link:hover .card-item-text-p,
.cards-item-link:hover .card-item-text-a,
.cards-item-link:hover .card-item-button {
  opacity: 2;
}
.card-item-text {
  padding: 0 10px;
  font-size: 20px;

  font-weight: bold;
  position: absolute;

  opacity: 1;

  display: flex;

  position: relative;
  color: white;
}
.card-item-text-p {
  color: white;
}

.card-button-box {
  width: 400px;
  height: 30px;
  background-color: transparent;
}
.card-item-button {
  width: 100px;
  height: 30px;
  border: transparent;
  background: transparent;
  backdrop-filter: blur(18px);

  border: 1px dashed black;
  color: white;
  object-fit: cover;
  opacity: 0;
}

.card-item-button:hover {
  width: 110px;
  height: 40px;
  border: 1px solid black;
  background: rgb(37, 35, 35);
  backdrop-filter: blur(18px);
  padding: 10px;
  cursor: pointer;
  transition: 1s ease-in-out;
}
.card-item-btn {
  width: 70px;
  height: 30px;
  border: transparent;
  background: transparent;
  backdrop-filter: blur(18px);

  border: 1px dashed black;
  color: white;
  object-fit: cover;
  opacity: 2;
}
.card-item-btn:hover {
  width: 100px;
  height: 40px;
  border: 1px solid black;
  background: rgb(37, 35, 35);
  backdrop-filter: blur(18px);

  cursor: pointer;
  transition: 1s ease-in-out;
}

.cards-item-link {
  background-color: transparent;
  width: 400px;
  height: 300px;
  box-shadow: 2px black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow: hidden;

  text-decoration: none;
  object-fit: cover;
}
.card-item-pic-wrap {
  width: 100%;
  height: 100%;
  padding-top: 40%;
  background-color: transparent;
  position: relative;

  object-fit: cover;
}

.cards-item-link:hover {
  width: 100%;
  object-fit: cover;
  background: transparent;
  backdrop-filter: blur(8px);
  cursor: all-scroll;
}

.cards-item-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 1s all ease-in-out;
  object-fit: cover;
}
.card-item-info {
  font-size: 3rem;

  display: flex;
  flex-direction: column;
}
.card-item-info::after {
  font-size: 3rem;

  display: flex;
  flex-direction: column;
}

.card-item-text-a {
  font-size: 1rem;
  color: white;
  padding-bottom: 20px;
  text-decoration: none;
  top: 10%;
  left: 100px;
}

.ArtCard {
  margin-top: 40px;
}
.Art-cards-item {
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.Art-div {
  background-color: transparent;
  width: 500px;
}
.art-wrap {
  width: 100%;
  background-color: transparent;
}
.Art-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.Art-cards-item-link {
  text-decoration: none;
  width: 500px;
  object-fit: cover;
}
.Art-cards-item-wrap {
  width: 60%;
  padding-top: 2%;
  left: 0;
  position: relative;
  background-color: transparent;
  object-fit: cover;
}
.Art-text {
  font-size: 1.2rem;
}
.Art-button {
  width: 100px;
  height: 30px;
  border: transparent;
  background: transparent;
  backdrop-filter: blur(18px);
  padding: 10px;
  border: 1px dashed black;
  color: white;
}
.Art-button:hover {
  width: 100px;
  height: 40px;
  border: 1px solid black;
  background: rgb(37, 35, 35);
  backdrop-filter: blur(18px);
  padding: 10px;
  cursor: pointer;
}
.Art-cards-item-text-a {
  font-size: 1rem;
  color: white;
  padding-bottom: 20px;
  text-decoration: none;
}
.Mobility-cards-item {
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  position: relative;
  margin: 0 1rem;

  border-radius: 10px;
}
.Mobility-cards-item-link {
  background-color: transparent;
  backdrop-filter: blur(8px);
  width: 500px;
  height: 300px;
  box-shadow: 2px black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow: hidden;

  text-decoration: none;
  object-fit: contain;
}
.Mobility-card-item-pic-wrap {
  width: 100%;
  height: 100%;
  padding-top: 40%;
  background-color: transparent;
  position: relative;

  object-fit: cover;
}
.Mobility-cards-item-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 1s all ease-in-out;
  object-fit: contain;
  border-radius: 20px;
}

.Mobility-cards-item-link:hover {
  width: 37%;
  object-fit: cover;
  background: transparent;

  cursor: all-scroll;
  transition: 1s ease-in;
}
.Mobility-card-item-text-p {
  color: black;
  font-size: 12px;
  opacity: 0;
}
.Mobility-card-item-text-p:hover {
  color: black;
  font-size: 12px;
  opacity: 3;
}
.Mobility-card-item-text {
  padding: 0 10px;
  font-size: 20px;

  font-weight: bold;
  position: absolute;

  opacity: 1;

  display: flex;

  position: relative;
  color: white;
}
.Mobility-card-item-text-2 {
  padding: 0 10px;
  font-size: 13px;

  font-weight: bold;
  position: absolute;
  backdrop-filter: blur(8px);
  opacity: 2;

  display: flex;

  position: relative;
  color: white;
}

.Mobility-card-item-button {
  width: 100px;
  height: 30px;
  border: transparent;
  background: transparent;
  backdrop-filter: blur(18px);

  border: 1px dashed black;
  color: white;
  object-fit: cover;
  opacity: 1;
}
.Mobility-card-item-button:hover {
  width: 110px;
  height: 40px;
  border: 1px solid black;
  background: rgb(37, 35, 35);
  backdrop-filter: blur(18px);
  padding: 10px;
  cursor: pointer;
  transition: 1s ease-in-out;
}
.Mobility-card-item-button-b {
  width: 100px;
  height: 30px;
  border: transparent;
  background: transparent;
  backdrop-filter: blur(18px);
  border-radius: 10px;
  border: 1px dashed black;
  color: white;
  object-fit: cover;
  opacity: 1;
}
.Mobility-card-item-button-b:hover {
  width: 103px;
  height: 40px;
  border: 1px solid black;

  backdrop-filter: blur(18px);

  cursor: pointer;
  transition: 1s ease-in-out;
}

.Shoopping-cards-item {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  margin: 0 1rem;
  border-radius: 10px;
}
.Shopping-cards-item-link {
  width: 60%;
  box-shadow: 2px black;
  border-radius: 10px;
  display: flex;

  overflow: hidden;

  text-decoration: none;

  background-color: transparent;
}
.Shopping-item-pic-wrap {
  padding-top: 2%;
  left: 0;

  position: absolute;
  background-color: transparent;
}
.Shopping-cards-item-img {
  object-fit: cover;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  margin-top: 1-px;
}
.Shopping-card-item-text {
  font-size: 18px;
  display: flex;
  padding-top: 20px;
  color: white;
}
.Shopping-item-pic-wrap-2 {
  width: 90%;
  padding-top: 2%;
  height: 20%;
  position: relative;
  background-color: transparent;
  backdrop-filter: blur(18px);
  object-fit: cover;
}
.Shopping-card-item-button {
  width: 100px;
  height: 30px;
  border: transparent;
  background: transparent;
  backdrop-filter: blur(18px);
  padding: 10px;
  border: 1px dashed black;
  color: white;
  cursor: pointer;
}
.Shopping-card-item-button:hover {
  width: 100px;
  height: 35px;
  border: transparent;
  background: black;
  backdrop-filter: blur(18px);
  padding: 10px;
  border: 1px dashed black;
  color: white;
  cursor: pointer;
  transition: 1s ease-in-out;
}
.Shopping-card-item-text-a {
  color: white;
}
.Shopping-card-item-text-a:hover {
  color: orange;
}
.AboutMe-card {
  width: 100%;
  background-color: transparent;
  top: 8%;
  height: 100%;
  aspect-ratio: 1/0.7;
  border-radius: 8px;
  position: absolute;
}
.MyPic-card {
  width: 20%;
  height: 20%;
  background-color: transparent;
}
.MyPic-Img {
  width: 100%;
  height: 50%;
  border-radius: 50%;
}
.AboutMe-card-content {
  width: 88%;

  position: absolute;
  top: 10%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;

  left: 8%;
  background-color: transparent;
  text-align: center;
}

.AboutMe-overlay-box {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.AboutMe-card .AboutMe-overlay-box .AboutMe-card-overlay {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
  object-position: 50% 90%;
}
.AboutMe-card-texting-p {
  padding: 10px 30px;
  background-color: transparent;
}
.AboutMe-card-texting-p:hover {
  padding: 10px 30px;
  background: transparent;
  backdrop-filter: blur(8px);
  color: white;
}

.footer {
  width: 100%;
  color: black;
  background: transparent;
  backdrop-filter: blur(8px);
  position: sticky;
  border: transparent;
  border-top-left-radius: 125px;
  bottom: 0;
  font-size: 17px;
  margin-top: auto;
}
.footer:hover {
  padding: 10px 30px;
  background: transparent;
  backdrop-filter: blur(8px);
  color: white;
}
.FooterIcon {
  font-size: 3rem;
}
.row {
  width: 85%;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.col h3 {
  width: fit-content;
  position: relative;
  padding-bottom: 20px;
}
.email {
  width: fit-content;
  color: white;
}
.media-links {
  font-size: 25x;
  color: black;
}
.media-links:hover {
  font-size: 18px;
  color: white;
}
form {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 50px;
}
form .envelope {
  font-size: 18px;
  margin-right: 10px;
}

form input {
  width: 100%;
  background: transparent;
  color: white;
  border: 0;
  outline: none;
}
input::placeholder {
  color: white;
}
form .form-btn {
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}
.underline {
  width: 100%;
  height: 5px;
  background-color: transparent;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.underline span {
  width: 15px;
  height: 100%;
  background-color: white;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

.front-card,
.back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.front-card {
  background-color: transparent;
  color: black;
}
.back-card {
  background-color: transparent;
  color: white;
  transform: rotateY(180deg);
}
.hotel-img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.staycation-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 350px;
  height: 500px;
  border-radius: 250px;
  perspective: 500px;
}
.Staycation-card-texting-p:hover {
  background: transparent;
  backdrop-filter: blur(8px);
  color: white;
}
.flip-box {
  background-color: transparent;
  width: 350px;
  height: 300px;
  border: none;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 7s;
  transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);

  /* backdrop-filter: blur(8px); */
}
.Staycation-cards-item {
  display: flex;
  flex-direction: row;
  gap: 30px;
  position: relative;
  margin: 1 1rem;
  margin-bottom: 11rem;
  border-radius: 10px;
  background-color: transparent;
}
.staycation-div {
  width: 100%;
  box-shadow: 2px black;
  border-radius: 10px;
  display: flex;

  text-decoration: none;
  object-fit: cover;
  background-color: transparent;
}
.Shopping-item-pic-wrap {
  width: 60%;
  padding-top: 2%;
  left: 0;
  position: relative;
  background-color: transparent;
  object-fit: cover;
}
.booking-btn {
  width: 100px;
  height: 30px;
  border: transparent;
  background: transparent;
  backdrop-filter: blur(18px);
  padding: 10px;
  border: 1px dashed black;
  color: white;
}
.booking-btn:hover {
  width: 100px;
  height: 40px;
  border: 1px solid black;
  background: rgb(37, 35, 35);
  backdrop-filter: blur(18px);
  padding: 10px;
  cursor: pointer;
}
.booking-btn-a {
  font-size: 1rem;
  color: white;
  padding-bottom: 20px;
  text-decoration: none;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}
